# Exploratory data analysis


### 1. Reading the data

In [2]:
import pandas as pd

filename = '/Users/Guzel/Documents/KAGGLE/Human Resources Analytics/HR_comma_sep.csv'

In [3]:
# data ia a dataFrame object

data = pd.read_csv(filename)

In [4]:
# Number of rows and columns

print(data.shape)

(14999, 10)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
satisfaction_level       14999 non-null float64
last_evaluation          14999 non-null float64
number_project           14999 non-null int64
average_montly_hours     14999 non-null int64
time_spend_company       14999 non-null int64
Work_accident            14999 non-null int64
left                     14999 non-null int64
promotion_last_5years    14999 non-null int64
sales                    14999 non-null object
salary                   14999 non-null object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [6]:
data.head(10)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
5,0.41,0.50,2,153,3,0,1,0,sales,low
6,0.10,0.77,6,247,4,0,1,0,sales,low
7,0.92,0.85,5,259,5,0,1,0,sales,low
8,0.89,1.00,5,224,5,0,1,0,sales,low
9,0.42,0.53,2,142,3,0,1,0,sales,low

### Satisfaction Level

In [7]:
sat_level = data['satisfaction_level']

In [ ]:
import matplotlib.pyplot as plt

data.plot(x = 'number_project', y = 'satisfaction_level', kind ='scatter')
plt.show()

In [55]:
# Unique departments

departments = set(data['sales'])
print(departments)

{'sales', 'RandD', 'IT', 'management', 'marketing', 'product_mng', 'hr', 'accounting', 'technical', 'support'}

set

In [39]:
# Number of people in each department

dep_people = pd.value_counts(data['sales'].values)
print(dep_people)

sales          4140
technical      2720
support        2229
IT             1227
product_mng     902
marketing       858
RandD           787
accounting      767
hr              739
management      630
dtype: int64

739

In [68]:
# Average by the department

data.groupby(['sales'])['satisfaction_level'].mean()

sales
IT             0.618142
RandD          0.619822
accounting     0.582151
hr             0.598809
management     0.621349
marketing      0.618601
product_mng    0.619634
sales          0.614447
support        0.618300
technical      0.607897
Name: satisfaction_level, dtype: float64